<footer>    
    <h4 align=center>Created by <a href='https://in.linkedin.com/in/sandivya'>Sandivya</a>. Source Code at <a href="https://github.com/sandivya/weatherapp-node3">GitHub.</a></h4>
</footer>