<header>
    <div class="header">
        <h2 align='center'><img src='/image/weather.png' class='main-logo'>&nbsp; <a href='/'>Weather App</a></h2>
    </div>

    <div class='toolbar' align='center'>
        <a href='/'>Home</a>
        &nbsp;
        <a href='/about'>About</a>
        &nbsp;
        <a href='help'>Help</a>
    </div>

</header>